* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --left-width: 33%;
}

body {
  height: 100vh;
  display: flex;
}

.image-side {
  color: aliceblue;
  width: var(--left-width);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("images/ocean-moon.avif");
  background-position: center;
  background-size: cover;
}

.image-side h1{
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px;
  padding-left: 100%;
  padding-right: 100%;
  margin-top: 30%;
}

.image-side p {
  margin-top: auto;
  padding: 8px;
}

.image-side a {
  color: aliceblue;
}

.form-side {
  background-color: rgb(243, 243, 243);
  width: calc(100% - var(--left-width));

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.form-side p {
  padding-left: 30px;
  width: 50rem;
}

.card {
  background-color: white;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
  padding-right: auto;
}

legend {
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.row {
  width: 700px;
  padding-left: 30px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.requirement {
  max-width: 300px;
  color: red;
}

input {
  width: 300px;
  font-size: 1.3rem;
}

.valid {
  font-size: 1.3rem;
  position: absolute;
  left: 305px;
  top: 1.5rem;
}

input:placeholder-shown {
  border: 2px solid black;
}

input:not(:placeholder-shown):valid {
  border: 2px solid green;
}

input:not(:placeholder-shown):invalid {
  border: 2px solid red;
}

input:not(:placeholder-shown):valid+span::after {
  content: "✅";
  color: green;
}

input:not(:placeholder-shown):invalid+span::after {
  content: "⚠";
  color: red;
}

input:not(:placeholder-shown):invalid~.mail:after {
  content: "Please enter a valid email address";
}

input:not(:placeholder-shown):invalid~.phone:after {
  content: "Please enter a valid US phone number";
}

input:not(:placeholder-shown):invalid~.password:after {
  content: "Must be at least 8 characters long and contain a number.";
}

input:not(:placeholder-shown):invalid~.confirm:after {
  content: "Passwords do not match";
}

button {
  margin: 15px 30px;
  padding: 7px 35px;
  color: aliceblue;
  background-color: midnightblue;
  border-radius: 8px;
  font-size: 1.2rem;
}

.form-side a {
  color: midnightblue;
}